.sidebar {
	background-color: #1fb0ff;
	position: fixed;
	width: 236px;
	/* height: 50px; */
	border-radius: 10px;
	border: 2px solid #000000;
	box-shadow: 5px 5px 9px 0px #555555;
	top: 70px;
	left: 10px;
	padding: 10px;
	box-sizing: content-box;
}

.sidebaritem {
	width: 100%;
	height: 27px;
	box-sizing: content-box;
	margin-top: 5px;
	margin-bottom: 5px;
	border: 1px solid #000000;
	background-color: #ff0000;
	border-radius: 5px;
	text-align: center;
	line-height: 27px;
	transition: 0.3s;
	color: black;
	text-decoration: none;
}

.sidebaritemH {
	width: 100%;
	height: 27px;
	box-sizing: content-box;
	margin-top: 5px;
	margin-bottom: 5px;
	border: 1px solid #000000;
	background-color: #18c47f;
	border-radius: 5px;
	text-align: center;
	line-height: 27px;
	transition: 0.3s;
	color: black;
	text-decoration: none;
}

.sidebaritem:hover {
	color: #2de394;
	background-color: #8800cc;
}

.sidebaritemH:hover {
	color: #2de394;
	background-color: #8800cc;
}
